//Fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

//Colors
$as_blue : #1475DF;
$as_light : #F5FAFF;
$as_grey : #496582;
$as_sky : #DAEAFA;
$as_ash : #C1CEDC;